@media screen and ( min-width: 768px ){

    .main__voci-menu div {
        flex-basis: calc( 100% / 5 - 15px);
    }

    .album-compilation__column {
        flex-basis: calc( 100% / 4 - 10px);
    }

    .volume {
        display: block;
    }

}

