@media screen and ( min-width: 1024px ){

    .main__voci-menu div {
        flex-basis: calc( 100% / 6 - 60px);
    }

    .album-compilation__column {
        flex-basis: calc( 100% / 6 - 10px);
    }

    .volume {
        display: block;
    }

}