:root {

    --aside: #000000;
    --main: #141923;
    --hover: #ADFF2F;
    --text-color: #D2D2D2;
    --color-layout-cta: rgba(8, 11, 18, 0.7);


}

span {
    color: white;
    display: none;
}

img {
  width: 100%;
    
}

.container {
    display: flex;
    height: 90vh;
}

.play-music {
    height: 10vh;
}

.aside {
    flex-basis: 10%;
    padding: 5px;
    
    background: var(--aside);
    color: var(--text-color);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}    

.aside > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    
}

.aside__nav-login hr {
    display: none;
}

.aside__nav-logo-menu div:first-child {
    display: none;
}

.aside__nav-playlist {
    display: none;
}


/* Inizia la parte di Main */
.main {
    flex-basis: 90%;
    overflow-y: auto;
    background: var(--main);
}

.main__cta {
   padding: 20px;
   text-align: right;
   text-transform: uppercase;
   position: sticky;
   top: 0;
   z-index: 1;
   background-color: var(--color-layout-cta);
   color: white; 
   font-size: 0.8rem;
}

.btn {
    border: 1px solid white;
}

.btn--pill{
    padding: 10px 20px;
    border-radius: 20px;
    font
}

