:root {

    --aside: #000000;
    --main: #141923;
    --hover: #ADFF2F;
    --text-color: #D2D2D2;
    --color-layout-cta: rgba(8, 11, 18, 0.5);
    --play-music: #282828;


}

.grey {
    color: var(--text-color);
}


/* Set up pagina iniziale */
.container {
    display: flex;
    height: 90vh;
}

.play-music {
    height: 10vh;
}



.aside {
    flex-basis: 10%;
    padding: 5px;
    
    background: var(--aside);
    color: var(--text-color);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}    

.aside div span {
    display: none;
}

.aside > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    
}

.aside__nav-login {
    padding: 2px;
}

.aside__nav-login > div {
    display: flex;
    gap: 10px;
}

.side__nav-login {
    display: flex;
}

.logo {
    width: 1.6rem;
} 

.icon-dowload {
    width: 1rem;
}

.icon-profile {
    width: 1.5rem;
}



.aside__nav-login hr {
    display: none;
}



.logo-big {
    display: none;
    width: 10rem;
}

.aside__nav-playlist {
    display: none;
    
}

h2 {
    display: none;
    color: white;
    margin-top: 5px;
    font-size: 10px;
}

.playlist {
    display: none;
}

.fa-plus {
    padding: 5px;
    font-size: 15px;
    background-color: #A3A3A3;
    color: black;
    font-weight: bold;
}

.playlist span{
    align-self: center;
    margin-left: 5px;
}

ul {
    display: none;
    list-style-type: none;
    line-height: 20px;
}

/* Inizia la parte di Main */
.main {
    flex-basis: 90%;
    overflow-y: auto;
    background: var(--main);
}

.main__cta {
   padding: 20px;
   text-align: right;
   text-transform: uppercase;
   position: sticky;
   top: 0;
   z-index: 1;
   background-color: var(--color-layout-cta);
   color: white; 
   font-size: 0.6rem;
}

.btn {
    border: 1px solid white;
}

.btn--pill{
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
}

/* .main__voci-menu {
    padding: 20px;
} */

.main__voci-menu {
    padding: 15px 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
    
}

.main__voci-menu div {
    flex-basis: calc( 100% / 4 - 20px);
}

.main__voci-menu div  {
    font-size: 0.6rem;
    color: white;
    text-align: center;
}

.headline1 {
    font-size: 1.6rem;
    padding: 15px 5px;
    color: white;
}

.sub-headline {
    font-size: 1rem;
    padding: 10px 5px;
    color: var(--text-color);
}


.album-compilation {
    display: flex;
    gap: 10px;
    padding: 5px;
    justify-content: flex-start;
    flex-wrap: wrap;
    
}

.album-compilation__column {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    flex-basis: calc( 100% / 2 - 10px);
    color: white;
}

.album-compilation__column img {
    width: 100%;
}

.circle {
    border-radius: 100%;
    aspect-ratio: 1;
}


/* Inizia la traccia audio  */

.play-music {
    background-color: var(--play-music);
}

.play-music-flex {
    display: flex;
    justify-content: space-between;
    

}

.container1-music{
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    gap: 10px;
}

.music-img,
.music-name,
.music-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    color: white;
    font-size: 0.7rem;
}


/* Barra durata canzone */
.progress-container {
    display: flex;
    align-items: center;
    gap: 10px; 
    width: 100%; 
    max-width: 500px; 
}

.current-time,
.total-duration {
    font-size: 14px;
    color: #b3b3b3; 
}

.progress-bar {
    -webkit-appearance: none; 
    appearance: none;
    width: 100%; 
    height: 5px;
    background: #ccc; 
    border-radius: 5px;
    outline: none; 
    cursor: pointer;
    transition: #C1C1C1 0.3s ease;
   
    background: linear-gradient(to right, #C1C1C1 20%, #5A5A5A 70%);
    
}

.progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 12px;
    height: 12px;
    background: #C1C1C1; 
    border-radius: 50%;
    cursor: pointer;
}
/* Fine barra durata canzone */


.container2-music {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
    margin-right: 10px;
}

.container2-music__bottom {
    display: flex;
    align-items: center;
    gap: 30px;
    color: white;
}

.container2-music__bottom-play {
    font-size: 1.8rem;
    /* border: 1px solid white;
    border-radius: 100%;
    aspect-ratio: 1; */
}

.container2-music__bottom-ward {
    font-size: 1.2rem;
}

.container2-music__bottom-shuffle {
    font-size: 0.8rem;
}



.volume {
    display: none;
}

/* Inizio contenitore volume */
.volume-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}

.volume-bar {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: linear-gradient(to right, #5A5A5A 50%, #C1C1C1 50%);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    
    margin-left: 10px;
}

.volume-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #5A5A5A;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #C1C1C1;
    transition: background-color 0.3s ease;
}

.volume-bar::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #5A5A5A;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #C1C1C1;
    transition: background-color 0.3s ease;
}
/* Fine contentitore volume */